{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter un fichier</h1>
    {{ form_start(form) }}

        {{ form_widget(form.title) }}
        {{ form_label(form.title) }}

        {{ form_widget(form.description) }}
        {{ form_label(form.description) }}

        {{ form_widget(form.price) }}
        {{ form_label(form.price) }}

        {{ form_widget(form.brochure) }}

    <button class="btn" type="submit">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
